<form class="form-horizontal .was-validated" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="card card-primary">
    <div class="card-heading bg-primary text-white">
      <h3 class="card-title">Create Employee</h3>
    </div>
    <div class="card-body">
      <!-- Full Name -->
      <div class="form-group row">
        <label class="col-sm-2 control-label text-bold" for="fullName">Full Name</label>
        <div class="col-sm-8">
          <input id="fullName" type="text" class="form-control " formControlName="fullName" [ngClass]="{ 'is-invalid': formErrors.fullName}" (blur)="logValidationErrors()" />
          <div *ngIf="formErrors.fullName" class="invalid-feedback">
            <div *ngIf="formErrors.fullName"> {{formErrors.fullName}}</div>
          </div>
        </div>
      </div>
      <!-- Email-->
      <div class="form-group row ">
        <label class="col-md-2 control-label">Contact Preference</label>
        <div class="col-md-8">
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" value="email" formControlName="contactPreference">Email
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" value="phone" formControlName="contactPreference">Phone
            </label>
          </div>
        </div>
      </div>
      <!--Email Group-->
      <div formGroupName="emailGroup">
        <!-- Email-->
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="email">Email</label>
          <div class="col-sm-8">
            <input id="email" type="text" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': formErrors.email}" (blur)="logValidationErrors()" />
            <div *ngIf="formErrors.email" class="invalid-feedback">
              <div *ngIf="formErrors.email"> {{formErrors.email}}</div>
            </div>
          </div>
        </div>
        <!--Confirm  Email-->
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="confirmEmail">Confirm Email</label>
          <div class="col-sm-8">
            <input id="confirmEmail" type="text" class="form-control" formControlName="confirmEmail" [ngClass]="{ 'is-invalid': formErrors.confirmEmail || formErrors.emailGroup}" (blur)="logValidationErrors()" />
            <div *ngIf="formErrors.confirmEmail || formErrors.emailGroup" class="invalid-feedback">
              <div *ngIf="formErrors.confirmEmail || formErrors.emailGroup">
                {{formErrors.confirmEmail ? formErrors.confirmEmail : formErrors.emailGroup}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Phone input element -->
      <div class="form-group row">
        <label class="col-sm-2 control-label" for="phone">Phone</label>
        <div class="col-sm-8">
          <input id="phone" type="text" class="form-control"
                 formControlName="phone" [ngClass]="{ 'is-invalid': formErrors.phone}" (blur)="logValidationErrors()">
          <div *ngIf="formErrors.phone" class="invalid-feedback">
            <div *ngIf="formErrors.phone"> {{formErrors.phone}}</div>
          </div>
        </div>
      </div>
      <!-- Skills Form-->
      <div formGroupName="skills">
        <!-- Skill Name -->
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="skillName">
            Skill
          </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="skillName"
                   placeholder="Name" formControlName="skillName" [ngClass]="{ 'is-invalid': formErrors.skillName}" (blur)="logValidationErrors()" />
            <div *ngIf="formErrors.skillName" class="invalid-feedback">
              <div *ngIf="formErrors.skillName"> {{formErrors.skillName}}</div>
            </div>
          </div>
          <div class="col-sm-4">
            <input type="text" placeholder="Experience in Years"
                   class="form-control" formControlName="experienceInYears" [ngClass]="{ 'is-invalid': formErrors.experienceInYears}" (blur)="logValidationErrors()" />
            <div *ngIf="formErrors.experienceInYears" class="invalid-feedback">
              <div *ngIf="formErrors.experienceInYears"> {{formErrors.experienceInYears}}</div>
            </div>
          </div>
        </div>
        <!-- Proficiency -->
        <div class="form-group row">
          <label class="col-sm-2 control-label">Proficiency</label>
          <div class="col-sm-8">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input id="proficiency" type="radio" value="beginner"
                       formControlName="proficiency">Beginner
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input id="proficiency" type="radio" value="intermediate"
                       formControlName="proficiency">Intermediate
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input id="proficiency" type="radio" value="advanced"
                       formControlName="proficiency">Advanced
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="card-footer">
      <div>
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-primary" type="button"
                (click)="onLoadDataClick()">
          Load Data
        </button>
      </div>
    </div>
  </div>
</form>
<!--<table border="1">
  <tr>
    <th style="padding: 10px">FormGroup</th>
    <th style="padding: 10px">FormControl (fullName)</th>
  </tr>
  <tr>
    <td style="padding: 10px">
      touched : {{ employeeForm.touched }}
      <br /> dirty : {{ employeeForm.dirty }}
      <br /> valid : {{ employeeForm.valid }}
      <br /> Form Values : {{employeeForm.value | json}}
    </td>
    <td style="padding: 10px">
      touched : {{ employeeForm.get('fullName').touched }}
      <br /> dirty : {{ employeeForm.get('fullName').dirty }}
      <br /> valid : {{ employeeForm.get('fullName').valid }}
      <br /> FullName Value : {{employeeForm.get('fullName').value}}
    </td>
  </tr>
</table>-->
